<template>
    <div>
        <div class="form-group" v-for="item in items">
            <input
                type="text"
                class="form-control"
                :id="'title' + item.id"
                :value="item.item_title"
                @keyup.08="removeItem($event, item)"
                @keyup="updateItem($event, item)"/>
        </div>
        <!--End list of items-->
        <div class="form-group">
            <input type="text" class="form-control" autofocus
                   v-model="newLocalItem"
                   @keyup.enter="addItem()"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" @click="sendChangesToServer()">Save</button>
        </div>
        <div class="alert alert-success" id="submited-to-server" style="display:none">
            <strong>Success!</strong> All changes pushed to server
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import axios from 'axios';

    export default Vue.extend({
        name: "ItemsEditComponent",
        props: ['items'],
        data() {
            return {
                newLocalItem: null as string | null,
                deletedItems: [] as object,
                createdItems: [] as object,
                updatedItems: [] as object
            }
        },
        methods: {
            addItem() {
                const item = {item_title: this.newLocalItem} as { item_title: string };
                this.items.push(item);
                this.createdItems.push(item);
                this.newLocalItem = null;
            },
            removeItem(event, item) {
                const currentItemValue = event.target.value as string;
                const index = this.items.indexOf(item) as number;

                if (currentItemValue.trim().length == 0 && index != -1) {
                    this.items.splice(index, 1);
                    if (item.id !== undefined) {
                        this.deletedItems.push(item.id);
                    }
                }

                const indexInCreated = this.createdItems.indexOf(item) as number;
                if (currentItemValue.trim().length == 0 && indexInCreated != -1) {
                    this.createdItems.splice(indexInCreated, 1);
                }
                const indexInUpdated = this.updatedItems.indexOf(item) as number;
                if (currentItemValue.trim().length == 0 && indexInUpdated != -1) {
                    this.updatedItems.splice(indexInUpdated, 1);
                }
            },
            updateItem(event, item) {
                const currentItemValue = event.target.value as string;
                const index = this.items.indexOf(item) as number;

                if (currentItemValue.trim().length > 0 && index != -1) {
                    let item = this.items[index] as {};
                    if (item !== undefined) {
                        this.items[index].item_title = currentItemValue;
                        const indexInUpdated = this.updatedItems.indexOf(item) as number;
                        if (indexInUpdated === -1) {
                            this.updatedItems.push(item);
                        }
                    }
                }
            },
            sendChangesToServer() {
                this.apiDestroy();
                this.apiUpdate();
                this.apiStore();
                this.$emit('changesSentToServer');
                const alert = document.getElementById('submited-to-server') as HTMLElement;
                if (alert !== undefined) {
                    alert.setAttribute('style', 'display:block');
                    setTimeout(() => {
                        alert.setAttribute('style', 'display:none');
                    }, 2500);
                }
            },
            apiStore() {
                const self = this as { createdItems: {} };
                axios
                    .post('/api/items', {
                        items: self.createdItems,
                    })
                    .then((response) => {
                        self.createdItems = [] as object;
                        console.log(response.data);
                    })
                    .catch(error => console.log(error));
            },
            apiUpdate() {
                const self = this as { updatedItems: {} };
                axios
                    .put('/api/items', {
                        items: self.updatedItems,
                    })
                    .then((response) => {
                        self.updatedItems = [] as object;
                        console.log(response.data);
                    })
                    .catch(error => console.log(error));
            },
            apiDestroy() {
                const self = this as { deletedItems: {} };
                axios
                    .delete('/api/items', {
                        data: {
                            items: self.deletedItems,
                        }
                    })
                    .then((response) => {
                        self.deletedItems = [] as object;
                        console.log(response.data)
                    })
                    .catch(error => console.log(error));
            }
        }
    });
</script>

<style scoped>

</style>
