<template>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in items">
            <td>{{ item.id }}</td>
            <td>{{ item.item_title }}</td>
            <td>{{ item.created_at }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script lang="ts">
    import Vue from 'vue';

    export default Vue.extend({
        name: 'ItemsListComponent' as string,
        props: ['items'] as object
    });
</script>

<style scoped>

</style>
