<template>
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#edit">Edit</a></li>
            <li><a data-toggle="tab" href="#list">List</a></li>
        </ul>

        <div class="tab-content">
            <div id="edit" class="tab-pane fade in active">
                <br>
                <br>
                <div>
                    <items-edit-component :items="items" @changesSentToServer="pullFromServer()"></items-edit-component>
                </div>
            </div>
            <div id="list" class="tab-pane fade">
                <br>
                <div>
                    <items-list-component :items="items"></items-list-component>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
    import Vue from 'vue';
    import axios from 'axios';
    import ItemsListComponent from './ItemsListComponent';
    import ItemsEditComponent from './ItemsEditComponent';

    export default Vue.extend({
        name: 'ItemsComponent',
        components: {
            ItemsListComponent,
            ItemsEditComponent,
        },
        data() {
            return {
                item: {} as object,
                items: [] as object,
            }
        },
        methods: {
            apiFetchItems() {
                const self = this;
                axios.get('/api/items')
                    .then((response) => {
                        self.items = response.data;
                    })
                    .catch(error => console.log(error))
            },
            pullFromServer() {
                this.apiFetchItems();
            }
        },
        created() {
            this.apiFetchItems();
        }
    });
</script>

<style scoped>

</style>
